<h1>Burgers!</h1>
<h2>Burgers are tasty!</h2>
<img src="/public/assets/imgs/burger_logo.jpg">

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
    <div>
      <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
        <button type="submit" class='burgersubmit'> {{this.burger_name}}</button>
      </form>
    </div>
  {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
      </div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
{{!-- <form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form> --}}

<form action="/burgers" method="POST">
  <input type="text" id="name" name="burger_name" placeholder="first burger">
  <button type="submit" class="addburger">Add The Burger</button>
</form>